body{
    font-family: 'Lucida Sans';
}

.section{
    padding: 20px 0px;
}

.overlay{
    position:absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top:0px;
    background: rgb(0, 0, 0, 0.5);

}
/* homme section */

.home{
    height: 650px;
    background-image: url('images/home/pexels-tima-miroshnichenko-5685822.jpg');
    background-size: cover;
    background-position: center;
    position: relative;


}


.home .home-content{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.home .home-title{
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;

}

.home .home-desc{
    color: #fff;
    font-size: 20px;
}

/* header */

header{
    padding:  10px 0;
    height: auto;
    position: relative;
    position: fixed;
    width:100%;
    z-index:999; 
    
}


header i.icon{
    position: absolute;
    right: 30px;
    top:40px;
    z-index: 10px;
    display: none;

}



header .logo h2 {
    font-size: 2em;
    color: #fff;


}

header nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    
}

header nav .nav-list .list a {
    display: block;
    padding: 15px;
    margin: 9px 0px;
    text-decoration: none;
    color:#fff
  

}



@media (max-width:575px) {
    header nav .nav-list{
        display:none;
        text-align : center;
        padding: 0px;
    }

    header .logo {
        text-align: center;
    }

    header i.icon{
        
        display: block;
    
    }

    
}


.section.home {
    position: relative;
  }
  
  .background-carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .background-image.active {
    opacity: 1;
  }
  
  